/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define DEFAULT 0
#define LAYER   1
#define MEDIA   2
#define SYM     3
#define NUM     4
#define CTRL    5
#define SPEC   6
#define CLMK   7



/ {
//    macros {
        
//    };
//    combos {

//    };

// | 0 |  1  |  2  |  3  |  4  |  5  |   |  6  |  7   |  8  |  9 |  10  | 11 |
// | 12|  13 |  14  |  15  |  16  |  17  |   |  18  |  19   |  20  |  21  |  22  |  23   |
// | 24|  25  |  26  |  27  |  28  |  29  |   |  30  |  31   |  32  |  33  |  34  | 35
//  |36|37|38|   | 39 | 40 | 41 |

    behaviors {
        tdCTRLTAB: Control_Tab {
            compatible = "zmk,behavior-tap-dance";
            label = "Control_Tab";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LCTRL>, <&kp LA(TAB)>;
        };
        tdCLMK_TAB: Colemak_Tab{
            compatible = "zmk,behavior-tap-dance";
            label = "Colemak_Tab";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LA(TAB)>, <&to CLMK>;
        };
//        td_mytd: tap_dance_my {
//        compatible = "zmk,behavior-tap-dance";
//          label = "TAP_DANCE_MY;
//          #binding-cells = <0>;
//          tapping-term-ms = <200>;
//          bindings =
//          <&mt LSHFT SPACE>,
//          <&mo 2>;
//      };
    };

    keymap {
            compatible = "zmk,keymap";

            default_layer {
label = "DEF";
// -----------------------------------------------------------------------------------------
// | TAB  |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | LGUI |
// | SHFT |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
// | CRTL |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | NUM  |
//  |ESC/Media|BSPC/Nav|BSCP/switch tab|   | ENT/Sym | SPACE/Num | DEL/Func |
                        bindings = <
   &mo SYM &kp Q &kp W &kp E &kp R &kp T   &kp Y &kp U  &kp I     &kp O   &kp P    &mt LCTRL LGUI
   &kp LSHIFT &kp A &kp S &kp D &kp F &kp G   &kp H &kp J  &kp K     &kp L   &kp SEMI &mt LALT SQT
   &to CTRL &kp Z &kp X &kp C &kp V &kp B   &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &mo NUM
      &to LAYER ESC &lt NAV SPACE &kp BSPC   &kp RET &lt NUM SPACE &to LAYER
                        >;
                };
                layer_layer {
label = "LAYER";
// -----------------------------------------------------------------------------------------
// |     |     |     |     |Ctrl/Shift/Alt keyboard|     |||||     |     |     |     |     |     |
// |     |     |     | SYM | NUM |     |||||     |     |     |     |     |     |
// |     |     |     |     |     |     |||||     |     |     |     |     |CLMK|
//                   |     |     |     |||||     |     |     |
                        bindings = <
 &trans &trans &trans &trans &trans &trans   &trans &trans &trans &trans &trans &trans
 &trans &trans &to MEDIA &to SYM &to NUM &trans   &trans &to NUM &to SYM &to MEDIA &trans &trans
 &trans &trans &trans &trans &trans &trans   &trans &trans &trans &trans &trans &to CLMK
                      &to DEFAULT &trans &trans   &trans &trans &to DEFAULT
                        >;
                };

            media_layer {
label = "MEDIA";
// -----------------------------------------------------------------------------------------
// |Clear|     |     |     |     |     |||||     |     |     |     |     |     |
// |Toggle|     |Comment|     |     |     |||||     | Play/Pause | VOL_DN | VOL_UP |Mute|     |
// |     |     |     |     |     |     |||||     | BT1 | BT2 | BT3 | BT4 | BT5 |
//                   |     |     |     |||||     | Play/Pause |     |
                        bindings = <
 &bt BT_CLR &trans &trans &kp UP &trans &trans   &trans &trans &trans &trans &trans &trans
 &out OUT_TOG &LC(LS(8)) &kp LC(LA(M)) &trans &trans &trans   &trans &trans &kp C_VOL_DN &kp C_VOL_UP &trans  &trans
 &trans &trans &LC(LS(7)) &trans &trans &trans   &trans &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4
                      &to DEFAULT &trans &trans   &trans &kp C_PP &to DEFAULT
                        >;
                };



                sym_layer {
label = "SYMBOL";
// -----------------------------------------------------------------------------------------
// |     |     |     |  =  |  +  |     |||||     |     |     |     |     |     |
// |     |     |  `  |  (  |  )  |  _  |||||     |     |     |     |     |     |
// |     |     |     |     |     |     |||||     |     |     |     |     |     |
//                   |     |  (  |  )  |||||     |     |     |
                        bindings = <
 &trans &trans &trans &kp EQUAL &kp PLUS &trans       &trans &trans &trans &trans &trans &trans
 &trans &trans &kp GRAVE &kp LPAR &kp RPAR &kp UNDER   &trans &trans &trans &trans &trans &trans
 &trans &trans &trans &trans &trans &trans            &trans &trans &trans &trans &trans &trans
                  &to DEFAULT &kp LPAR &kp RPAR            &trans &trans &to DEFAULT
                        >;
                };

                num_layer {
label = "NUM";
// -----------------------------------------------------------------------------------------
// |     |  =  |  7  |  8  |  9  |  +  |||||     |     |  &  |  *  |  \  |     |
// |     |  _  |  4  |  5  |  6  |  -  |||||     |     |  $  |  %  |  ^  |     |
// |SYM|     |  1  |  2  |  3  |  .  |||||     |     |  !  |  @  |  #  |     |
//                   |     |  0  |     |||||     |     |     |
                        bindings = <
 &trans &trans &kp N7 &kp N8 &kp N9 &kp PLUS   &trans &kp AMPS &kp ASTRK &kp BSLH &trans &trans
 &trans &trans &kp N4 &kp N5 &kp N6 &kp MINUS   &trans &kp DOLLAR &kp PERCENT &kp CARET &trans &trans
 &mo SYM &trans &kp N1 &kp N2 &kp N3 &kp DOT   &trans &kp EXCL &kp AT &kp HASH &trans &trans
                      &to DEFAULT &kp N0 &trans   &trans &trans &to DEFAULT
                        >;
                };

                func_layer {
label = "FUNC";
// -----------------------------------------------------------------------------------------
// |     |     |     |   |     |     |||||     |     |     |     |     |     |
// |     |     | F5 |     |     |     |||||     |     |     |     |     |     |
// |     |     |     |     |     |     |||||     |     |     |     |     |     |
//                   |     |     |     |||||     |     |     |
                        bindings = <
 &trans &trans &trans &trans &trans &trans   &trans &trans &trans &trans &trans &trans
 &trans &trans &trans &trans &trans &trans   &trans &trans &trans &trans &trans &trans
 &trans &trans &trans &trans &trans &trans   &trans &trans &trans &trans &trans &trans
                      &to DEFAULT &trans &trans   &trans &trans &to DEFAULT
                        >;
                };

                ctrl_layer {

label = "SPEC";
// -----------------------------------------------------------------------------------------
// |     |Screenshot|Ctrl W|undo?|redo|new tab   |||||Redo |Home     | Up |  End  |     |     |
// |Shift|Select all|Save|left tab|right tab|find|||||     |Ctrl Left|Down|Ctrl Right|     |     |
// |     |Undo|Cut|Copy|Paste|windows paste      |||||     |     |     |     |     |     |
//                               |Esc|     |     |||||     |shift|     |
                        bindings = <
 &trans &kp LG(LS(S)) &kp LC(W) &kp LC(Z) &kp LC(Y) &kp LC(T)   &kp LC(Y) &kp HOME &kp UP &kp END &trans &trans
 &kp LSHFT &LC(A) &LC(S) &kp LC(PG_UP) &kp LC(PG_DN) &kp LC(F)  &trans &kp LC(LEFT) &kp DOWN &kp LC(RIGHT)  &kp LC(RIGHT) &trans
 &trans &kp LC(Z) &kp LC(X) &kp LC(C) &kp LC(V) &kp LG(LC(V))   &trans &trans &trans &trans &trans &trans
                      &to DEFAULT &trans &trans   &trans &kp LSHFT &to DEFAULT
                        >;
                };

                ctrl_layer {

label = "CTRL";
// -----------------------------------------------------------------------------------------
// |     |Screenshot|Ctrl W|undo?|redo|new tab   |||||Redo |Home     | Up |  End  |     |     |
// |Shift|Select all|Save|left tab|right tab|find|||||     |Ctrl Left|Down|Ctrl Right|     |     |
// |     |Undo|Cut|Copy|Paste|windows paste      |||||     |     |     |     |     |     |
//                               |Esc|     |     |||||     |shift|     |
                        bindings = <
 &trans &kp LG(LS(S)) &kp LC(W) &kp LC(Z) &kp LC(Y) &kp LC(T)   &kp LC(Y) &kp HOME &kp UP &kp END &trans &trans
 &kp LSHFT &LC(A) &LC(S) &kp LC(PG_UP) &kp LC(PG_DN) &kp LC(F)  &trans &kp LC(LEFT) &kp DOWN &kp LC(RIGHT)  &kp LC(RIGHT) &trans
 &trans &kp LC(Z) &kp LC(X) &kp LC(C) &kp LC(V) &kp LG(LC(V))   &trans &trans &trans &trans &trans &trans
                      &to DEFAULT &trans &trans   &trans &kp LSHFT &to DEFAULT
                        >;
                };


                clmk_layer {
label = "CLMK";
// -----------------------------------------------------------------------------------------
// |     |  Q  |  W  |  F  |  P  |  B  |   |  J  |  L  |  U  |  Y  |  ;  |     |
// |     |  A  |  R  |  S  |  T  |  G  |   |  M  |  N  |  E  |  I  |  O  |     |
// |     |  Z  |  X  |  C  |  D  |  V  |   |  K  |  H  |  ,  |  .  |  /  |     |
//                   |     |     |     |   |     |     |     |
                        bindings = <
   &trans &kp Q &kp W &kp F &kp P &kp B   &kp J &kp L &kp U &kp Y &kp SEMI &trans
   &trans &kp A &kp R &kp S &kp T &kp G   &kp M &kp N &kp E &kp I &kp O &trans
   &trans &kp Z &kp X &kp C &kp D &kp V   &kp K &kp H &kp COMMA &kp DOT &kp FSLH &to DEFAULT
                   &to DEFAULT &trans &trans   &trans &trans &to DEFAULT
                        >;
                };
        };
};

//                nav_layer {
//label = "NAV";
// -----------------------------------------------------------------------------------------
// |     |     |     |     |     |     |||||     | Word left |     |     |     |End|
// |     |     |     |tab left|tab right|     |||||     | Left | Down | Up | Right |Home|
// |     |     |     |     |     |     |||||     | Highlight word left |     |     |     |     |
//                   |     |     |     |||||     |Copy (CTRL(C))|Paste (CTRL(V))|
//                        bindings = <
// &trans &trans &trans &trans &trans &trans          &trans &kp LC(LEFT) &kp LC(DOWN) &kp LC(UP) &kp LC(RIGHT) &kp END
// &trans &trans &trans &kp LC(PG_UP) &kp LC(PG_DN)   &trans   &trans &kp LEFT &kp DOWN &kp UP &kp RIGHT &kp HOME
// &trans &trans &trans &trans &trans &trans          &trans &kp LC(LS(LEFT)) &kp LC(LS(DOWN)) &kp LC(LS(UP)) &kp LC(LS(RIGHT)) &trans
//                      &to DEFAULT &trans &trans          &trans &trans &to DEFAULT
//                        >;
//                };
